.header {
    grid-area: h;
    background-color: #4a76a8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header img {
    height: 80px;
    margin-left: 25px;
}

.accountInfo{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-right: 40px;
    padding-right: 30px;
    height: 100%;
    background: url(https://image.flaticon.com/icons/svg/625/625946.svg) no-repeat;
    background-size: 8px;
    background-position-x: 155px;
    background-position-y: 27px;
}

.accountInfo:hover {
    background-color: #4a76a1;
}

.accountInfo img{
    height: 35px;
}

.accountDrop{
    position: absolute;
    padding: 10px 22px;
    background-color: #fff;
    border: 1px solid #4a76a8;
    border-radius: 4px;
    display: block;
    top: 55px;
    left: 40px;
    z-index: 5;
}

.userImg{
    border-radius: 50%;
    margin-right: 8px;
}

.login:hover {
    text-decoration: underline;
}

